<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<springProperty name="consoleLogPattern" source="shippingservice.log.consoleLogPattern"/>
	
	
	<property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springAppName}"/>
	<property name="CONSOLE_LOG_PATTERN" value="${consoleLogPattern}"/>
	
	<appender name="console_plain" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	
	
	<appender name="console_json" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
			</providers>
		</encoder>
	</appender>
	
	<!-- <appender name="stash_elasticsearch" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:5000</destination>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
			</providers>
		</encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender> -->
	
	<logger name="com.sonal.distributedtracing.shipping" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console_json"/>
		<!-- <appender-ref ref="console_plain"/> -->
		<!-- <appender-ref ref="stash_elasticsearch"/> -->
		
	</root>
</configuration>