<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<springProperty name="consoleLogPattern" source="shippingservice.log.consoleLogPattern"/>
	<springProperty name="logFilePath" source="shippingservice.log.logFilePath"/>
	
	<property name="CONSOLE_LOG_PATTERN" value="${consoleLogPattern}"/>
	<property name="LOG_FILE_PATH" value="${logFilePath}"/>
	
	<appender name="file_plain" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE_PATH}</file>
		<append>true</append>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	
	
	<appender name="console_plain" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	
	<logger name="com.sonal.distributedtracing.orderservice" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console_plain"/>
		<appender-ref ref="file_plain"/>
	</root>
</configuration>